@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "@workspace/tailwind-config/theme";

@source "../../../../packages/ui/src/**/*.{ts,tsx}";

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
    * {
        @apply border-border outline-ring/50;
    }

    body {
        @apply bg-background text-foreground;
    }
}

@layer base {
    :root {
        --font-sans: var(--font-sans);
        --font-mono: var(--font-mono);
        --font-serif: var(--font-serif);
    }
}

@layer base {

    button:not([disabled]),
    [role="button"]:not([disabled]) {
        cursor: pointer;
    }

    * {
        scrollbar-width: thin;
        scrollbar-color: oklch(var(--muted-foreground) / 0.3) transparent;
    }

    ::-webkit-scrollbar {
        width: 5px;
        height: 5px;
    }

    ::-webkit-scrollbar-button {
        display: none !important;
        width: 0 !important;
        height: 0 !important;
        background: transparent !important;
    }

    ::-webkit-scrollbar-button:single-button {
        display: none !important;
        height: 0 !important;
        width: 0 !important;
    }

    ::-webkit-scrollbar-thumb {
        background: oklch(var(--muted-foreground) / 0.3);
        border-radius: 100px;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: oklch(var(--muted-foreground) / 0.5);
    }

    ::-webkit-scrollbar-track {
        background: transparent;
    }

    ::-webkit-scrollbar-corner {
        background: transparent;
    }

    input[type="password"]::-ms-reveal,
    input[type="password"]::-ms-clear {
        display: none;
    }

    input[type="password"]::-webkit-contacts-auto-fill-button,
    input[type="password"]::-webkit-credentials-auto-fill-button {
        visibility: hidden;
        position: absolute;
        right: 0;
    }

    ::view-transition-old(root),
    ::view-transition-new(root) {
        animation: none;
        mix-blend-mode: normal;
    }

    ::view-transition-old(root) {
        z-index: 1;
    }

    ::view-transition-new(root) {
        z-index: 9999;
    }
}

@utility scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none !important;
    }
}