@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "@workspace/tailwind-config/theme";

@source "../../../packages/ui/src/**/*.{ts,tsx}";

@import "@fontsource/inter/latin.css";
@import "@fontsource-variable/jetbrains-mono";
@import "@fontsource/merriweather/latin-300.css";
@import "@fontsource/merriweather/latin-400.css";
@import "@fontsource/merriweather/latin-700.css";

@custom-variant dark (&:where(.dark, .dark *));
@custom-variant light (&:where(.light, .light *));
@custom-variant auto (&:where(.auto, .auto *));

@layer base {
    :root {
        --font-sans: "Inter", system-ui, sans-serif;
        --font-mono: "JetBrains Mono Variable", monospace;
        --font-serif: "Merriweather", serif;
    }
}

@layer base {
    * {
        @apply border-border outline-ring/50;
    }

    body {
        @apply bg-background text-foreground;
    }
}

@layer base {

    button:not([disabled]),
    [role="button"]:not([disabled]) {
        cursor: pointer;
    }

    * {
        scrollbar-width: thin;
        scrollbar-color: oklch(var(--muted-foreground) / 0.3) transparent;
    }

    *::-webkit-scrollbar {
        width: 4px;
        height: 4px;
    }

    *::-webkit-scrollbar-track {
        background: transparent;
    }

    *::-webkit-scrollbar-thumb {
        background: oklch(var(--muted-foreground) / 0.3);
        border-radius: 999px;
    }

    *::-webkit-scrollbar-thumb:hover {
        background: oklch(var(--muted-foreground) / 0.5);
    }

    *::-webkit-scrollbar-button {
        display: none;
    }

    *::-webkit-scrollbar-corner {
        display: none;
    }

    input[type="password"]::-ms-reveal,
    input[type="password"]::-ms-clear {
        display: none;
    }

    input[type="password"]::-webkit-contacts-auto-fill-button,
    input[type="password"]::-webkit-credentials-auto-fill-button {
        visibility: hidden;
        position: absolute;
        right: 0;
    }

    ::view-transition-old(root),
    ::view-transition-new(root) {
        animation: none;
        mix-blend-mode: normal;
    }

    ::view-transition-old(root) {
        z-index: 1;
    }

    ::view-transition-new(root) {
        z-index: 9999;
    }
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}