@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@import "@workspace/tailwind-config/theme";

@source "../../../apps/web/*.{ts,tsx}";
@source "../../../packages/ui/**/*.{ts,tsx}";
@source "../**/*.{ts,tsx}";

@custom-variant dark (&:is(.dark *));

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}